    <div id="navigation" class="nav" role="navigation">
      <nav>
        <a href="http://rubyonrails.org/" title="click for overview">Overview</a> |
        <a href="http://rubyonrails.org/download/" title="click to get Rails">Download</a> |
        <a href="http://rubyonrails.org/deploy/" title="click for deploy">Deploy</a> |
        <a href="https://github.com/rails/rails/issues" title="click for issues">Bugs/Patches</a> |
        <a href="http://rubyonrails.org/screencasts/" title="click for screencasts">Screencasts</a> |
        <a href="http://rubyonrails.org/documentation/" title="click for documentation">Documentation</a> |
        <a href="http://rubyonrails.org/community/" title="click for join to the community">Community</a> |
        <a href="/" title="click to go to the blog">Blog</a>
      </nav>
    </div>
